<div style="text-align:center"> 
<h1>
    Hello world ((Soportec-crew))!
</h1>
<img width="300" alt="Angular Logo" src="data:image" alt="">

</div> 
<router-outlet></router-outlet>
<app-saludador>xxxxx</app-saludador>